<section>
    <h1>Rezultate Chestionar</h1>
    <br>
    <p style = "font-size: x-large;">În urma realizării chestionarului, ați obținut scorul de ...</p>
    <p style = "font-size: x-large;"><%= rezultat %> răspunsuri corecte/ <%= total %></p>
</section>

